* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.vh100{
    height: 100vh;
}
.bg-darkblue {
    background-color: darkblue;
}

.bg-darkcyan {
    background-color: darkcyan;
}

.bg-darkgoldenrod {
    background-color: darkgoldenrod;
}

.bg-darkgoldenrod {
    background-color: darkgoldenrod;
}

.bg-darkred {
    background-color: darkred;
}

.bg-darkviolet {
    background-color: darkviolet;
}
.text-white{
    color: white;
}

.vh100{
    height: 100vh;
}


.row {
    clear: both;
}

.owt-12 {
    width: 100%;
    float: left;
}

.owt-6 {
    width: 50%;
    float: left;

}

.owt-4 {
    width: 33.3333%;
    float: left;
}

.owt-3 {
    width: 25%;
    float: left;
}

.h200 {
    height: 200px;
}

.h400 {
    height: 400px;
}

a{
    font-size: 30px;

}